﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <table class="nav-justified">
        <tr>
            <td>
                <h6>Enter Postal Code:</h6>
                <p class="lead">


                    @model ProgressiveTax.Models.PostalCodes

                    @using (Html.BeginForm("PostalCode", "Home", FormMethod.Post))
                    {

                        @Html.TextBoxFor(model => model.PostalCode)
                        @Html.ValidationMessageFor(model => model.PostalCode)
                        <br /><br />
                        <button class="btn btn-primary" type="submit">Check Postal Code</button>
                        <br />
                        <h6 style="color:red;">@ViewBag.Message</h6>
                    }

                </p>
                <p>
                </p>
            </td>
            <td></td>
            <td></td>
            <td>

            </td>
        </tr>
    </table>
</div>

