﻿
@{
    ViewData["Title"] = "PostalCode";
}

<div class="jumbotron">

    <table class="nav-justified">
        <tr>
            <td>
                <h6>Enter Salary:  </h6>
                <p class="lead">


                    @model ProgressiveTax.Models.Salary

                    @using (Html.BeginForm("Salary", "Home", FormMethod.Post))
                    {

                        @Html.TextBoxFor(model => model.GrossValue)
                        @Html.ValidationMessageFor(model => model.GrossValue)
                        <br /><br />
                        <button class="btn btn-primary" type="submit">Calculate Tax</button>
                        <br />
                        <h6 style="color:red;">@ViewBag.Message</h6>
                    }

                </p>
                <p>
                </p>
            </td>
            <td></td>
            <td></td>
            <td>
                <h4>@ViewBag.TypeDesc@ViewBag.TotVat</h4>
            </td>
        </tr>

    </table>
</div>

